
<% content_for :head do %>
  <meta property="fb:app_id" content="418221521621916 "/>
  <meta property="og:type" content="video.movie" />
  <meta property="og:url" content="http://fbcollections.herokuapp.com/users"/>
  <meta property="og:image" content="http://ia.media-imdb.com/images/M/MV5BMTc3NzQ3OTg3NF5BMl5BanBnXkFtZTcwMjk5OTcxNw@@._V1._SY317_.jpg"/>
  <meta property="og:site_name" content="Punchh now at cool eats in Milwaukee"/>
  <meta property="og:title"                content="21 Jump Street">
  <meta property="og:description" content="Directed by Michael Bay. With Sean Connery, Nicolas Cage, Ed Harris, John Spencer. A renegade general and his group of U.S. Marines take over Alcatraz and threaten San Francisco Bay with biological weapons. A chemical weapons specialist and the only man to have ever escaped from the Rock attempt to prevent chaos." />
<% end %>
<h1>Movie Page</h1>
