<meta property="og:title" content="Punchh at best eats in Milwaukee!"/>
  <meta property="og:type" content="restaurant"/>
  <meta property="og:image" content="http://punchh.com.s3.amazonaws.com/collateral/AJ_all_2.png"/>
  <meta property="og:url" content="http://punchh.com/milwaukeecooleats"/>
  <meta property="og:site_name" content="Punchh now at cool eats in Milwaukee"/>
  <meta property="og:description" content="Punchh now at Milwaukee's coolest eats - AJ Bombers, Swig, Water Buffalo, Zaffiro's - and get free food" />
  <meta property="fb:app_id" content="10150105628410635"/>
  <meta itemprop="name" content="Punchh at best eats in Milwaukee!">
  <meta itemprop="description" content="Punchh now at Milwaukee's coolest eats - AJ Bombers, Swig, Water Buffalo, Zaffiro's - and get free food">
 <meta property="article:author"  content="529981003" />
  <meta property="article:section"  content="Technology Blog2" />
  <meta property="article:tag"  content="Facebook" />
  <meta property="article:tag"  content="Advanced" />
<h1>article page</h1>
