<% content_for :head do %>
	<meta property="fb:app_id" content="418221521621916" />
	<meta property="og:type"   content="feedback_collections:feedback" />
	<meta property="og:url" content="http://fbcollections.herokuapp.com/feedbacks"/>
	<meta property="og:title"  content="Christian Bale" />
	<meta property="og:description" content="Rita's Ice is like new Baskin and Robins" />
<% end %>
<h1>Feedbacks Page</h1>
