<% content_for :head do %>
	<meta property="fb:app_id" content="418221521621916" />
	<meta property="og:type"   content="feedback_collections:feedback" />
	<meta property="og:url" content="http://fbcollections.herokuapp.com/feedbacks"/>
	<meta property="og:title"  content="Hugh Jackman" />
	<meta property="og:description" content="Food with flavour should be the tagline of this place.... amazing taste..." />
<% end %>
<h1>Feedbacks Page</h1>
