<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
	<meta property="fb:app_id" content="10150105628410635"/>
  <meta property="og:type" content="video.movie" />
  <meta property="og:url" content="http://fbcollections.herokuapp.com/"/>
  <meta property="og:image" content="http://ia.media-imdb.com/images/M/MV5BMTc3NzQ3OTg3NF5BMl5BanBnXkFtZTcwMjk5OTcxNw@@._V1._SY317_.jpg"/>
  <meta property="og:site_name" content="Punchh now at cool eats in Milwaukee"/>
  <meta property="og:title"                content="21 Jump Street">
  <meta property="og:description"          content="21 Jump Street">
  <meta property="video:actor:role"        content="Lead">
  <meta property="video:actor:role"        content="Lead2">
  <meta property="video:director"          content="http://www.imdb.com/name/nm0588087/">
  <meta property="video:writer"            content="http://www.imdb.com/name/nm0588087/">
  <meta property="video:tag"               content="action">
  <title>Fbooking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
